<div class="produtos">

	<div class="wrap">
		<h2>Conheça alguns dos produtos</h2>
		<p>Faça sua encomenda, envie um email para <a href="mailto:{{ site.email }}">{{ site.email }}</a> &hearts;</p>
	</div>

	<div class="galeria">
		<div id="wrapper">
			<div id="slider">
	
				<div class="slide" style="background-image: url(/img/produto/produto-001.png);">
					<div class="slide-block">
						<h4>Naipes</h4>
					</div>
				</div>
		
				<div class="slide" style="background-image: url(/img/produto/produto-002.png);">
					<div class="slide-block">
						<h4>Os Gatos</h4>
					</div>
				</div>
		
				<div class="slide" style="background-image: url(/img/produto/produto-003.png);">
					<div class="slide-block">
						<h4>As Meninas</h4>
					</div>
				</div>

				<div class="slide" style="background-image: url(/img/produto/produto-004.png);">
					<div class="slide-block">
						<h4>Alô Teresinha!</h4>
					</div>
				</div>

				<div class="slide" style="background-image: url(/img/produto/produto-005.png);">
					<div class="slide-block">
						<h4>Diva do cinema</h4>
					</div>
				</div>
		
			</div>
		</div>
	</div>
	<!-- .galeria -->

</div>